#add_table_button {
    background-color: transparent;
    background-image: url("./icons/add_green_circle.svg");
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-width: 2px;
}

#tables_container {
    width: 5000px;
    height: 3000px;
}

.table {
    white-space: nowrap;
    position: absolute;
}

.table_wrapper {
    display: inline-flex;
}

.table_segment {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 100px;
}

.table_interaction_button {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    background-size: cover;
    background-color: white;
    border-color: black;
    border-radius: 20px;
    border-width: 2px;
    z-index: 10;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.small_table_interaction_button {
    width: 26px;
    height: 26px;
    top: 37px;
    transform: translateX(-50%);
    border-radius: 13px;
}

#rotate_button {
    top: -10px;
    transform: translateX(-70px);
    background-image: url("./icons/rotate_black_circle.svg");
}

#move_button {
    top: -30px;
    transform: translateX(-50%);
    background-image: url("./icons/move_black_circle.svg");
}

#delete_button {
    top: -10px;
    transform: translateX(30px);
    background-image: url("./icons/cross_red_circle.svg");
}