#add_table_button {
    background-color: transparent;
    background-image: url("./icons/add_green_circle.svg");
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-width: 2px;
}

#tables_container {
    width: 5000px;
    height: 3000px;
}

.table {
    white-space: nowrap;
    position: absolute;
    left: 200px;
    top: 500px;
}

.table_wrapper {
    display: inline-flex;
}

.table_segment {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 100px;
}

.table_interaction_button {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-color: white;
    border-color: black;
    border-radius: 20px;
    border-width: 2px;
    z-index: 10;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.small_table_interaction_button {
    width: 26px;
    height: 26px;
    border-radius: 13px;
}